<?php require('template/header.phtml') ?>

<script src="../js/AJAX_infiniteScroll.js"></script>

<div class="container">
    <div class="col-md-6">

        <h2>AJAX</h2>

        <form autocomplete="off">
            <label class="control-label" for="lookUp">Find your next car</label>

            <div class="input-group">
                <input id="lookUp" type="text" onkeyup="results(this.value)">
                <span class="glyphicon glyphicon-search" style="margin:5px"></span>
            </div>

            <div id="results"></div>

            <script src="../js/AJAX.js"></script>

        </form>

    </div>

    <!--<script src="../js/AJAX_infiniteScroll.js"></script>-->
</div>

<div class="container">
    <div id="scrollcontent">

        <div class="page">

        </div>

    </div>
</div>

<?php require('template/footer.phtml') ?>




