<?php require('template/header.phtml') ?>

<script src="../js/AJAX_infiniteScroll.js"></script>

<div class="container">
    <div class="col-sm-12 col-md-6 col-lg-4  ">

        <h2>Text search</h2>

        <form name="ajax" method="GET" action="../browse.php">
            <button type="submit" name="text" class="btn btn-success">Filter your search</button>
        </form>

        <form autocomplete="off">
            <label class="control-label" for="lookUp">Find your next car</label>

            <div class="input-group">
                <input id="lookUp" type="text" onkeyup="results(this.value)">
                <span class="glyphicon glyphicon-search" style="margin:5px"></span>
            </div>

            <div id="results"></div>

            <script src="../js/AJAX.js"></script>

        </form>

    </div>

    <!--<script src="../js/AJAX_infiniteScroll.js"></script>-->
</div>

<div class="container content-row" id="carResultsBackground">
    <div class="row">
    <div id="scrollcontent">

        <div class="page">

        </div>

    </div>
    </div>
</div>

<?php require('template/footer.phtml') ?>




