<?php require('template/header.phtml') ?>

<div class="container">

    <div>

        <h1 id="our-headline"> First Js tutorial </h1>

        <button id="our-button">Add new item</button>

        <ul id="our-list" class="active">
            <li>First item</li>
            <li>Second item</li>
            <li>Third item</li>
            <li>Fourth item</li>
        </ul>

        <script src="../js/tutorials/jsTutorial.js"></script>

    </div>

    <!--In the web console-->
    <script src="../js/tutorials/jsOOPtutorial.js"></script>

    <!--AJAX & JSON tutorial-->
    <header>

        <h1>AJAX & JSON</h1>
        <button id="btn">Fetch info</button>

    </header>

    <div id="animal-info"></div>

    <script src="../js/tutorials/jsAJAX_JSON.js"></script>

</div>


<?php require('template/footer.phtml') ?>